/*** Reseteo Propiedades ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /* Hace que la transicion sea fluida y menos brusca */
    scroll-behavior: smooth;
    text-decoration: none;
}

/*** BODY ***/
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif; 
    overflow-x: hidden; 
}

/*** HEADER ***/

header {
    width: 100%;
    height: 75px;
    /* Hace que toda la navegacion se quede fija en la pantalla */
    position: sticky;
    position: fixed;
    top: 0;    
    background-color: black;
    margin: 0;
    z-index: 5;
    box-shadow: 0 0 3px 3px #1a1a1a
}

/*** BARRA BUSQUEDA ***/
/* Posicionamiento de la barra de busqueda */
.topnav {    
    overflow: hidden;
    background-color: black;
}

.topnav nav {
    margin-top: 20px;
}

.topnav nav ul {    
    text-align: center;
    width: 50%;
    height: 5vh;
    position: absolute;
    margin-left: 53%;
    bottom: 2px;
}

nav ul li {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 2%;
}

.topnav nav ul li a {
    color: #28cc8c;
    text-align: center;
    padding: 3px 2%;
    font-size: 20px;
}
 

.topnav a:hover {
    color: white;
    border-top: white solid 3px;
}

.topnav a:active {
    border-top: 2px solid white;
    transition-delay: 1s;
}

.topnav .contenedor_BarraBusqueda {
    float: left;
    margin-left:150px;
}

/* Poner el estilo de dentro de la barra de busqueda */
.topnav input[type=text] {
    background-color: #28cc8c;
    padding: 6px;
    border: none;
    font-size: 18px;
    width: 550px;
}

.contenedor_BarraBusqueda button {
  float: right;
  padding: 6px;
  background: #28cc8c;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.topnav .contenedor_BarraBusqueda button:hover {
    background-color: #526427;
    transition: 0.5s;
}

/*** Fija el logo a la esquina y lo posiciona de forma absoluta ***/

#logo img{
    top: 0;
    left: 0;
    position: absolute;
    width: 75px;
}

/*** Fijo las caracteristicas de los titulos ***/
h2 {
    font-size: 56px;
    color: white;
}

h3 {
    font-size: 20px;
    color: white;
}

h4 {
    font-size: 16px;
    color: white;
    font-style: normal;
}

/*** SECCION INICIO PAGINA ***/

#sectionImagen {
    /* margin-top: 40px; */
    width: 100%;
    height: 100vh;
    background-image: url(../images/gimnasio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px ;
}

/*** Titulo de la Pagina ***/

#sectionImagen h1 {
    color: white;
    vertical-align: middle;
    font-size: 107px;
    padding-top: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Boton que desliza hacia el final de la pagina ***/

#sectionImagen button {
    background-color: #28cc8c;
    font-style: arial;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: solid black;
    height: 50px;
    margin-top: 200px;
    font-size: 35px; 
    width: 50px;
    text-align: center;
    cursor: pointer;
}

#sectionImagen button:hover {
    background-color: #526427;
    transition: 0.5s;
}

#sectionImagen button a{
    color: black;
}

/*** SECCION PLANES ENTRENAMIENTO ***/

#Planes {
    width: 100%;
    height: 1000px;
    margin-bottom: 75px;
}

#Planes h2 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Planes h4 {
    font-size: 20px;
    padding-top: 50px;
    color: #696969;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenesPlanes {
    border-radius: 50%; /* Redondear las imagenes */ 
    object-fit: cover; /* Para que coja la imagen tal cual las dimensiones con buena calidad */
    width: 225px;
    height: 225px;
    margin: 65px 150px;
    margin-bottom: 40px;
}

.contenedor {
    width: 100%;
    height: 800px;
    /* margin-left: 10%; */
}

.contenedor .miniContenedores {
    width: 33%;
    height: 600px;
    float: left;
    padding-left: 20px;
}

.contenedor .miniContenedores image {
    /* Sirve para centrar en linea los elementos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .miniContenedores h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    margin-right: 50px;
}

.contenedor .miniContenedores p {
    color: #696969;
    padding-top: 30px;
    width: 55%;
    text-align: justify;
    margin-left: 100px;
    font-weight: lighter;
    font-size: 20px;
}

/*** SECCION DE LA TIENDA ***/

#Tienda {
    background-color: #526427;
    width: 100%;
    height: 800px;
}

#Tienda h2 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.contenedorTienda img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.contenedorTienda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajasTienda h4{
    background-color: black;
    padding: 1%;
    padding-left: 10px;
}

.cajasTienda
{
    float: left;
    margin: 0 15px;
    background-color: #000000;
}

.cajasTienda p {
    background-color: black;
    color: rgb(170, 170, 156);
    width: 90%;
    padding: 5px 0 5px 10px;
}

#Tienda button {
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 13px 50px;
}

#Tienda button:hover
{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#Tienda button a {
    text-decoration: none;
}

/*** SECCION DEL BLOG ***/

#Blog {
    background-color: black;
    width: 100%;
    height: 1460px;
    margin-bottom: 120px;
}

.entradasBlog {
    /* justify-content: space-evenly; Hace que ocupen el espacio que tienen equitativamente */
    position: relative;
    align-items: center;
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-top: 100px;
    border: grey solid 1px;
}

.imagenBlog {
    width: 50%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
}

.Textos {
    position: absolute;
    width: 50%;
    padding: 50px 30px 70px 20px;
    text-align: justify;
    right: 0;
}

.Textos h3 {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.Textos p {
    font-size: 16px;
    color: rgb(170, 170, 156);
    font-style: normal;
    font-weight: 300;
    padding-bottom: 80px;
}

/* HACER LAS SECCIONES CON LOS ICONOS */
/* .corazon {
    float: left;
    position: absolute;
    margin: 370px 35px 0 0;
    width: 2%;
    height: 20px;
    right: 0;
} */

#Blog button {
    background-color: #526427;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 13px 50px;
    text-decoration: none;
}

#Blog button:hover {
    box-shadow: #526427 0px 10px 15px, #526427 0px -12px 30px, #526427 0px 4px 6px, #526427 0px 12px 13px, #526427 0px -3px 5px;
    cursor: pointer;
}

#Blog button a{
    text-decoration: none;
}

/***** FOOTER *****/

footer {
    background-color: black;
    width: 100%;
}

/*** REDES SOCIALES ***/
#socialNetworks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    width: 30%;
}

.logosRedesSociales {
    height: 55px;
    padding-left: 35px; 
    margin-bottom: 35px;
    object-fit: cover;
}

/*** SPEECH ***/
#motivationalSpeech {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

#gokuTraining {
    border-radius: 100%;
    object-fit: cover;
    width: 130px;
    height: 130px;
    margin-left: 100px;
}

#texto {
    margin-left: 5%;
    border-left: 5px solid #4864cc;
}

#texto h4{
    margin-left: 10px;
    font-size: 18px;
    font-style: oblique;
}

#texto p{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: lighter;
    font-style: oblique;
    color: rgb(170, 170, 156);
}

#footer 
{
    width: 100%;
    margin-top: 50px;
    justify-content: space-evenly;
}

.sectionFooter
{
    float: left;
    width: 30%;
}

#footer small
{
    width: 20%;
    padding-top: 15px;
    color: #28cc8c;
    bottom: 0;
    text-align: center;
}

#footer ul 
{
    padding-top: 15px;
    width: 40%;
}

#footer ul li
{
    display: inline-block;
    margin-right: 8%;
}

#footer ul li a
{
    color: #28cc8c;
    font-size: 18px;
}

#footer ul li a:hover
{
    color: white;
}

/********** Menu desplegable **********/
.topnav nav ul ul 
{
    display:none; /* Escondemos el submenu mediante display:none */
    position:absolute;
    top: calc(5vh - 20px);
    padding:0;
    right: 45px;
}

.topnav nav ul ul li {
    width: 130px;
    float:none; /* Mediante float:none, conseguimos que el submenu se despliegue de forma vertical en vez de horizontal */
    display: block;
    text-align: left;
    background:#000000;
}

.topnav nav ul ul a {
    line-height:200%;
    padding:10px 15px;
}

.topnav nav ul li:hover > ul {
    display:block; /* Muestra el submenu que estaba escondido */
}

.topnav nav ul ul li a:hover {
    text-decoration: none;
    border: none;
}

.topnav nav ul ul li:hover {
    color: white;
}

/*******************TABLETS*******************/
@media (max-width: 1300px)
{
    /********* NAV **********/
    /* Vuelvo a colocar en su sitio los submenus */
    .topnav nav ul ul {
        right: 23px;
        top: calc(5vh - 25px);
    }


    .topnav nav ul li a
    {
        font-size: 16px;
    }

    .topnav 
    {
        width: 100%;
        height: 75px;
    }

    .topnav nav ul 
    {
        float: none;
        text-align: left;
        width: 100%;
    }

    .topnav ul li
    {
        margin: 0 8px;
    }

    .topnav input[type=text]
    {
        width: 300px;
        padding-left: 50px;
    }

    .topnav .contenedor_BarraBusqueda
    {
        margin-left: 100px ;
    }

    /********** First Section **********/
    #sectionImagen h1
    {
        font-size: 90px;
    }

    /********* Plans Section **********/
    #Planes
    {
        height: 800px;
    }

    #Planes h2
    {
        font-size: 50px;
    }

    #Planes h4
    {
        margin-bottom: 40px;
    }

    .imagenesPlanes
    {
        height: 180px;
        width: 180px;
        margin: 55px 100px;
        text-align: center;
    }

    .contenedor
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .contenedor .miniContenedores h3
    {
        padding-top: 0;
        font-size: 25px;
    }

    .contenedor .miniContenedores p
    {
        width: 65%;
        font-size: 18px;
        margin-left: 60px;
        text-align: center;
    }

    /********** SHOP **********/

    #Tienda
    {
        height: 750px;
        width: 100%;
    }

    #Tienda h2
    {
        font-size: 75px;
    }

    .contenedorTienda img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    #Tienda button 
    {
        margin-top: 70px;
        padding: 30px 85px;
    }

    /********** BLOG **********/
    #Blog
    {
        height: 1450px;
        width: 100%;
    }

    .entradasBlog
    {
        width: 70%;
        margin-left: 13%;
    }

    .Textos h3
    {
        font-size: 28px;
        text-align: center;
    }

    #Blog button 
    {
        margin-top: 75px;
        padding: 25px 70px;
    }

    /********** FOOTER **********/
    #motivationalSpeech
    {
        width: 100%;
        padding-top: 50px;
    }

    #texto
    {
        margin-left: 0;
        padding-left: 20px;
    }

    #socialNetworks
    {
        width: 40%;
        float: left;
        margin: 0;
    }

    .logosRedesSociales
    {
        padding-left: 85px;
    }

    footer small
    {
        display: none;
    }

    #footer ul 
    {
        margin-left: 75px;
        width: 50%;
    }

    #footer ul li 
    {
        margin-right: 15px;
    }

    #footer ul li a 
    {
        font-size: 24px;
    }
}
/*******************Mobile devices*******************/
.checkbtn
{
    font-size: 30px;
    color: #28cc8c;
    float: right;
    line-height: 40px;
    cursor: pointer;
    display: none;
}

#check 
{
    display: none;
}

@media (max-width: 900px)
{
    /* Oculto los submenus */
    .topnav nav ul ul 
    {
        right:-100%;
    }

    .topnav
    {
        width: 100%;
    }
    .topnav input[type=text]
    {
        width: 250px;
        padding-left: 50px;
    }

    .checkbtn
    {
        display: block;
        margin-right: 30px;
    }
    .topnav nav ul
    {
        position: fixed;
        height: 100vh;
        background-color: #0e0a0a;
        top: 75px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }
    .topnav ul li 
    {
        display: block;
        margin: 50px 0;
        line-height: 70px;
    }
    
    .topnav nav ul li a {
        font-size: 40px;
    }

    .topnav ul li:hover
    {
        background-color: #696969;
        color: white;
    }

    .topnav ul li a:hover, .topnav ul li a:active
    {
        background: none;
        border: none;
        color: white;
    }
    #check:checked ~ ul {
        right: 0;
    }

    /********** First Section **********/
    #sectionImagen h1
    {
        font-size: 80px;
        text-align: center;
    }

    /********* Planes Entrenamiento *********/
    #Planes
    {
        height: 1100px;
        width: 100%;
    }

    #Planes h2
    {
        font-size: 50px;
        text-align: center;
    }

    #Planes h4 
    {
        font-size: 25px;
        padding-top: 40px;
    }

    .imagenesPlanes
    {
        text-align: center;
        margin: 30px 39%;
    }

    .contenedor .miniContenedores
    {
        width: 100%;
        height: 300px;
    }

    .contenedor .miniContenedores p 
    {
        display: none;
    }

    .contenedor .miniContenedores h3 
    {
        text-align: center;
        margin:0 25%;
    }

    /********** TIENDA **********/
    #Tienda 
    {
        height: 1040px;
        width: 100%;
    }

    #Tienda h2 
    {
        font-size: 50px;
        text-align: center;
    }

    .contenedorTienda
    {
        display: inline-block;
        justify-content: space-evenly;
    }

    .cajasTienda 
    {
        width: 45%;
        border: 1px solid white;
        margin: 20px 15px;
    }

    .cajasTienda img 
    {
        border-bottom: 1px solid white;
    }

    #Tienda button 
    {
        margin-top: 30px;
    }

    /********** BLOG **********/
    #Blog 
    {
        margin-bottom: 20px;
        width: 100%;
    }

    .entradasBlog
    {
        width: 70%;
        height: 350px;
    }

    .Textos h3 
    {
        font-size: 20px;
    }

    .Textos p 
    {
        font-size: 14px;
    }

    /********* FOOTER *********/
    #socialNetworks 
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .logosRedesSociales
    {
        height: 80px;
    }

    #gokuTraining 
    {
        width: 140px;
        height: 140px;
        margin-left: 20px;
    }

    #texto
    {
        margin-left: 20px;
        border-left: 3px solid #4864cc ;
    }

    #texto h4 
    {
        font-size: 16px;
    }

    #texto p 
    {
        font-size: 15px;
    }

    #footer ul 
    {
        width: 100%;
        margin-bottom: 50px;
        padding-right: 40px;
    }

    #footer ul li 
    {
        margin-left: 3%;
    }

    #footer ul li a 
    {
        font-size: 26px;
    }

}

@media (max-width: 370px)
{
    /* FIRST SECTION */
    #sectionImagen 
    {
        width: 100%;
    }

    /* PLANS SECTION */
    #Planes
    {
        width: 100%;
        height: 1150px;
    }

    .imagenesPlanes 
    {
        margin: 65px 20px ;
    }

    /* SHOP */
    #Tienda
    {
        width: 100%;
    }

    #Tienda h2 
    {
        font-size: 65px;
    }

    .cajasTienda 
    {
        width: 45%;
        margin: 10px 10px;
    }

    .contenedorTienda img 
    {
        height: 200px;
    }

    /* BLOG */
    #Blog
    {
        width: 100%;
    }

    .entradasBlog
    {
        width: 85%;
        margin-left: 5%;
    }

    .Textos h3 
    {
        font-size: 24px;
    }

    #Blog button 
    {
        margin-left: 50%;
    }

    /* FOOTER */
    #footer ul 
    {
        width: 100%;
    }

    #footer ul li 
    {
        text-align: center;
    }
}